<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CAPSTONE_PROJECT.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CAPSTONE_PROJECT.My.MySettings>
            <setting name="connection" serializeAs="String">
                <value>Server=DESKTOP-PT9RB1P\SQLEXPRESS;Database=capstoneproject;Trusted_Connection=True;</value>
            </setting>
        </CAPSTONE_PROJECT.My.MySettings>
    </userSettings>
</configuration>
